 <div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-4" >
            {% for v in weather_reports %}
            <div class="weather">

                <div class="current">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city"><small><small>CITY:</small></small> {{weather_location}}</div>

                        <div class="temp">Max Temperature:{{v.max_temperature}}</div>
                        <div class="temp">Min Temperature:{{v.min_temperature}}</div>
                        <div class="wind">Summary: {{v.summary}}</div>

                        <div>
                           <b> {{v.raining_prob}}</b><br/>

                        </div>

                    </div>

                    <div class="icon">
                        <h1>
                {% if v.icon == "clear-day" %}
                    <i class="wi wi-day-sunny"></i>
                {% elif v.icon == "clear-night" %}
                    <i class="wi wi-night-clear"></i>
                {% elif v.icon == "rain" %}
                    <i class="wi wi-rain"></i>
                {% elif v.icon == "snow" %}
                    <i class="wi wi-snow"></i>
                {% elif v.icon == "sleet" %}
                    <i class="wi wi-sleet"></i>
                {% elif v.icon == "wind" %}
                    <i class="wi wi-windy"></i>
                {% elif v.icon == "fog" %}
                    <i class="wi wi-fog"></i>
                {% elif v.icon == "cloudy" %}
                    <i class="wi wi-cloudy"></i>
                {% elif v.icon == "partly-cloudy-day" %}
                    <i class="wi wi-day-cloudy"></i>
                {% elif v.icon == "partly-cloudy-night" %}
                    <i class="wi wi-night-partly-cloudy"></i>
                {% endif %} </h1>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>




<style>
    .weather
    {
        display: flex;
        flex-flow: column wrap;
        box-shadow: 0px 1px 10px 0px #cfcfcf;
        overflow: hidden;
    }

        .weather .current
        {
            display: flex;
            flex-flow: row wrap;
            background-image: url("/Content/images/shared/misc/london-view.png");
            background-repeat: repeat-x;
            color: white;
            padding: 20px;
            text-shadow: 1px 1px #F68D2E;
        }

            .weather .current .info
            {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-around;
                flex-grow: 2;
            }

                .weather .current .info .city
                {
                    font-size: 26px;
                }

                .weather .current .info .temp
                {
                    font-size: 26px;
                }

                .weather .current .info .wind
                {
                    font-size: 24px;
                }

            .weather .current .icon
            {
                text-align: center;
                font-size: 64px;
                flex-grow: 1;
            }

        .weather .future
        {
            display: flex;
            flex-flow: row nowrap;
        }

            .weather .future .day
            {
                flex-grow: 1;
                text-align: center;
                cursor: pointer;
            }

                .weather .future .day:hover
                {
                    color: #fff;
                    background-color: #F68D2E;
                }

                .weather .future .day h3
                {
                    text-transform: uppercase;
                }

                .weather .future .day p
                {
                    font-size: 28px;
                }
</style>
</div>